# Ignore all Jupyter Notebook files in this directory
*/__pycache__/*
**/__pycache__/*
***/__pycache__/*
***/__pycache__/*.pyc
***/__pycache__/*.pyo
***/__pycache__/*/*.pyc
***/__pycache__/*/*.pyo
***/__pycache__/*/*/*.pyc
***/__pycache__/*/*/*.pyo
***/__pycache__/*/*/*/*.pyc
*.ipynb
*.pyc
*.npy
*.eqx
*events.out.tfevents.*
logs/*
models/*
*.mp4
*.pickle
*.png
!demo/*
*Dockerfile
.env 
*/wandb/*
NCA/__pycache__/utils.cpython-38.pyc
NCA/__pycache__/utils.cpython-38.pyc
NCA/model/__pycache__/NCA_model.cpython-38.pyc
NCA/trainer/__pycache__/loss.cpython-38.pyc
